/* Header en Footer */
header {
    background-color: red;
    height: 200px;
}
footer {
    background-color: blue;
    height: 200px;
}

/* ID's opmaken */

/* Rij 1 */
#cell_1_1 {
    background-color: red;
}
#cell_1_2 {
    background-color: green;
}
#cell_1_3 {
    background-color: blue;
}
#cell_1_4 {
    background-color: purple;
}
/* Rij 2 */
#cell_2_1 {
    background-color: #04c226;
}
#cell_2_2 {
    background-color: #bc9054;
}
#cell_2_3 {
    background-color: #ffd830;
}
#cell_2_4 {
    background-color: #737909;
}
/* Rij 3 */
#cell_3_1 {
    background-color: #3d1642;
}
#cell_3_2 {
    background-color: #29398f;
}
#cell_3_3 {
    background-color: #e18582;
}
#cell_3_4 {
    background-color: #ad71e0;
}
/* Rij 4 */
#cell_4_1 {
    background-color: rgb(48, 56, 49);
}
#cell_4_2 {
    background-color: rgb(154, 220, 224);
}
#cell_4_3 {
    background-color: rgb(209, 80, 211);
}
#cell_4_4 {
    background-color: rgb(54, 17, 142);
}

/* Tekstclasses */

.tekst1 {
 background-color: green;
}
.tekst2 {
 background-color: yellow;
}
.tekst3 {
 background-color: blue;
}
.tekst4 {
 background-color: #ad71e0;
}
.tekst5 {
 background-color: #ffd830;
}
.tekst6 {
 background-color: rgb(154, 220, 224);
}
.tekst7 {
 background-color: rgb(54, 17, 142);
}
.tekst8 {
 background-color: rgb(48, 56, 49);
}
